$primary_color: #018f90;$secondary_color: #1a1c23;$third_color: #027472;$four_color: #ffd200;$link_color: #018f90;$link_color_hover: #018f90;$link_color_active: #018f90;$gradient_color_from: #037273;$gradient_color_to: #019092;
                $body_default_font: Google-Font;
            
                $heading_default_font: Google-Font;
            